{% extends 'base.html' %}
{% block content %}

<h1>Add an article</h1>
<hr/><br/>
<form method="POST" >
        {% csrf_token %}
<!--        {{ form }}-->
    <h3>{{author}}</h3>
    <br>
    <div>
        <label name="title">Title: </label>
		<input type="text" name="title" placeholder="Give your article a title..." required="required">
    </div><br>
    <div>
        <label name="title">Content: </label>
		<input type="text" name="content" placeholder="Write your article here" required="required">
    </div>

    <button class="btn btn-secondary">Post</button>

</form>



{% endblock %}
